:root {
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);

  --color-primary: oklch(0.7824 0.171055 67.2231);
  --color-primary-hover: oklch(0.8524 0.171055 67.2231);

  --color-danger: oklch(0.58 0.22 27);
  --color-danger-hover: oklch(0.66 0.22 27);

  --scroll-thumb-color: oklch(88.73% 0% 0);

  --color-btn-dark: oklch(0.2899 0.0036 286.17);
  --color-btn-dark-hover: oklch(0.3599 0.0036 286.17);

  --color-btn-secondary: oklch(0.4755 0.0032 286.28);
  --color-btn-secondary-hover: oklch(0.5455 0.0032 286.28);

  --color-btn-tertiary: oklch(0.2264 0 0);
  --color-btn-tertiary-hover: oklch(0.2964 0 0);

  --btn-size-small: 40px;
  --btn-size: 70px;
  --gap-size: 10px;

  --animation-time: 0.3s;
}
